.contenedorColumnas {
    display: flex;
    flex-direction: row;
}

.columnaUno {
    width: 20%;
    margin: 1%;
    background-color: #F8F8F8;
}

.columnaDos {
    width: 80%;
    margin: 1%;
}

.contenedorCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardProducto {
    width: 25%;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cardProducto .card {
    justify-content: center;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.contenedorLogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
}

/*
* Formulario Ingreso Usuario
*/

.pantallaLogin {
    display: flex;
    flex-direction: row;
}

.formIngreso {
    width: 60%;
    padding: 30px;
}

.imagenIngreso {
    /*width: 40%;*/
    /*background-image: url(altaPropiedad.jpg);*/
    /*margin: 30px;*/
    /*border-radius: 5%;*/
    background-position: center;
}

.selectOperacionBotones {
    background-color: darkgrey;
    border: none;
    color: black;
}

.botonSeleccionado {
    background-color: olivedrab;
    color: white;
}


.tituloPrincipal {
    border-bottom: 1px solid olivedrab;
    color: olive;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.botonPrincipal {
    background-color: olive;
    border: none;
    width: 100%;
    color: #F8F8F8;
    font-weight: bold;
}

.elementoBuscadorPrincipal {
    width: 25%;
    padding: 5px 10px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cardInfoPropiedades{
    height: 140px;
    margin: 10px;
    background-color: WhiteSmoke;
    display: flex;
    border-radius: 5px;
    text-decoration: none;
}

.cardInfoPropiedades .parteFoto {
    width: 25%;
    background-color: red;
}

.cardInfoPropiedades .parteInformacion {
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.cardInfoPropiedades .parteInformacion h5, h6 {
    text-decoration: none !important;
    color : black;
}


a.cardInfoPropiedades:hover {
    text-decoration:none;
    font-weight:bold;
    background-color: lightblue;
}

a.cardProducto:hover{
    text-decoration:none;
}

.card:hover{
    background-color: lightblue;
}

.estiloMensajeRecibido {
    background-color: white;
    color: grey;
    font-size: 11px;
    padding: 10px;
    border-bottom: 1px solid olivedrab;
}

.efectoMensaje_0 {
    background-color: white;
    color: olive;
    font-size: 11px;
    padding: 10px;
}

.efectoMensaje_1 {
    background-color: olive;
    color: white;
    font-size: 11px;
    padding: 10px;
}

.resaltarRow:hover {
    background-color: lightblue !important;
}